@model carrito_apl_proyecto.Models.compradores

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>compradores</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.pk_comprador, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pk_comprador)
                @Html.ValidationMessageFor(model => model.pk_comprador)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombres)
                @Html.ValidationMessageFor(model => model.nombres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apellidos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellidos)
                @Html.ValidationMessageFor(model => model.apellidos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_nacimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_nacimiento)
                @Html.ValidationMessageFor(model => model.fecha_nacimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipo_documento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tipo_documento)
                @Html.ValidationMessageFor(model => model.tipo_documento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.celular, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.celular)
                @Html.ValidationMessageFor(model => model.celular)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.genero, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.genero)
                @Html.ValidationMessageFor(model => model.genero)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
