@model carrito_apl_proyecto.Models.compradores

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/editComprador.css" rel="stylesheet" />

<div class="card m-3 border-0">
    <div class="card-body form-row p-0">
        <div class="col-3">
            <nav class="navbar bg-secondary navbar-dark d-block rounded-left" style="height:100%">
                <ul class="navbar-nav list-group" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" role="tab" href="#perfil">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#direcciones">Direcciones</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Tab panes -->
        <div class="tab-content col-9">
            <div id="perfil" class="container tab-pane active">
                <br>
                <h3>Perfil</h3>
                <hr />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.pk_comprador)

                        <div class="form-group">
                            <label class="control-label col-12 mb-0" for="nombres">Nombres</label>
                            <div class="col-12">
                                @Html.TextBoxFor(model => model.nombres, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.nombres)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-12 mb-0" for="apellidos">Apellidos</label>
                            <div class="col-12">
                                @Html.TextBoxFor(model => model.apellidos, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.apellidos)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.fecha_nacimiento, new { @class = "control-label col-12" })
                            <div class="col-12">
                                @Html.TextBoxFor(model => model.fecha_nacimiento, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fecha_nacimiento)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.tipo_documento, new { @class = "control-label col-12" })
                            <div class="col-12">
                                @Html.TextBoxFor(model => model.tipo_documento, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.tipo_documento)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.celular, new { @class = "control-label col-12" })
                            <div class="col-12">
                                @Html.TextBoxFor(model => model.celular, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.celular)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.genero, new { @class = "control-label col-12" })
                            <div class="col-12">
                                @Html.TextBoxFor(model => model.genero, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.genero)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.password, new { @class = "control-label col-12" })
                            <div class="col-12">
                                @Html.TextBoxFor(model => model.password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.password)
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="row">
                            <input type="submit" value="Save" class="btn btn-success mx-auto mb-3" />
                    </div>
                }
            </div>
            <div id="direcciones" class="container tab-pane fade">
                <br>
                <h3>Direcciones</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>