<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontAwesome")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="min-width:576px">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="min-width:577px !important;">
        <a class="navbar-brand" href="#">Navbar</a>
        <form>
            <div class="input-group my-auto ">
                <input type="text" class="form-control" placeholder="Buscador">
                <div class="input-group-append">
                    <button class="input-group-text" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Acerca de", "About", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
        @RenderBody()
    <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
