<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontAwesome")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="min-width:576px">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="min-width:577px !important;">
        @Html.ActionLink("TuLogoAquí", "Index", "Home", null, new { @class = "navbar-brand" })
        <form>
            <div class="input-group my-auto ">
                <input type="text" class="form-control" placeholder="Buscador">
                <div class="input-group-append">
                    <button class="input-group-text" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Acerca de", "About", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @* Texto en html, accion o funcion del controlador a ejecutar , controlador *@
                    @Html.ActionLink("Productos", "Index", "Productos", null, new { @class = "nav-link" })
                </li>
                
                @if (Session["id"] == null)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Login", "Index", "Login", null, new { @class = "nav-link" })
                    </li>

                }
                else
                {
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                         @Convert.ToString(Session["nombres"])
                      </a>
                      <div class="dropdown-menu" style="right:0px !important;left:initial !important;">
                        @Html.ActionLink("Cuenta", "Details", "Comprador", new { id = Session["id"] }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Salir", "LogOut", "Login", null, new { @class = "dropdown-item" })
                        
                      </div>
                    </li>
                }
                    
                
            </ul>
        </div>
    </nav>
        @RenderBody()
    <hr />
    <div style="right: 7px; position: fixed; bottom: 7px; z-index: 15;">
        <button id="carrito" ondrop="agregarAlCarrito(event)" ondragover="allowDrop(event)" type="button" class="btn btn-info rounded-circle"> <i class="fas fa-shopping-cart" style="padding-bottom: 1px; padding-top: 1px;"></i> </button>
    </div>
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/index")
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        function validate(form) {
            $('#'+form).validate();
        }
    </script>
    @RenderSection("scripts", required: false)
    
</body>
</html>
