@model carrito_apl_proyecto.Models.facturas

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>facturas</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.pk_factura)

        <div class="form-group">
            @Html.LabelFor(model => model.fk_tarjeta, "fk_tarjeta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fk_tarjeta", String.Empty)
                @Html.ValidationMessageFor(model => model.fk_tarjeta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fk_comprador, "fk_comprador", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fk_comprador", String.Empty)
                @Html.ValidationMessageFor(model => model.fk_comprador)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_pago, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_pago)
                @Html.ValidationMessageFor(model => model.fecha_pago)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.total)
                @Html.ValidationMessageFor(model => model.total)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CVV, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CVV)
                @Html.ValidationMessageFor(model => model.CVV)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
