@model carrito_apl_proyecto.Models.productos
@*@model2 IEnumerable<carrito_apl_proyecto.Models.especificaciones>*@


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="~/Content/detailsProducto.css" rel="stylesheet" />


<div class="mx-5 my-3">
    <div class="row">
        <div class="col-12">
            <a href="/">/@Html.DisplayFor(model => model.categorias.nombre)</a>
        </div>
    </div>

    <div class="card">
        @{
            var descuento = (int)Model.descuento;
        }
        @if (Model.descuento > 0)
        {
            <div class="tagPorcent">
                <p class="text-center m-0" style="font-family: 'Dancing Script', cursive;"><b>-@descuento%</b></p>
            </div>
        }
        <div class="card-body">
            <div class="row mt-2">
                <div class="col-md-6 col-lg-7 col-xl-7 px-5">
                    <div class="box">
                        <div id="carouselPrinciapal" class="carousel slide box-content" data-ride="carousel">
                            <div class="carousel-inner h-100">
                                @for (int key = 0; key < ViewBag.fotos.Count; ++key)
                                {
                                    string active = (key == 0) ? "active" : "";

                                    <div class="h-100 carousel-item @active">
                                        <img class="d-block mx-auto h-100" src="@ViewBag.fotos[key]" alt="Foto producto" style="max-height:100%;max-width:100%;">
                                    </div>
                                }
                            </div>
                            <a class="carousel-control-prev" href="#carouselPrinciapal" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon rounded-circle" aria-hidden="true" style="background-color: rgba(0,0,0,0.27);box-shadow: 0 0 20px #000;"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselPrinciapal" role="button" data-slide="next">
                                <span class="carousel-control-next-icon rounded-circle" aria-hidden="true" style="background-color: rgba(0,0,0,0.27);box-shadow: 0 0 20px #000;"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 col-xl-5">
                    <p class="h4 my-3">@Html.DisplayFor(model => model.titulo)</p>
                    @{
                        var precio = Model.precio * (100 - Model.descuento);
                        var cant = (int)Model.existencias;
                    }
                    <p class="text-danger h5 mb-0">$@Html.DisplayFor(model => precio)</p>
                    @if (Model.descuento > 0)
                    {
                        <p class="text-secondary m-0">
                            <del>$@Html.DisplayFor(model => model.precio)</del> <span class="badge badge-success">-@descuento%</span>
                        </p>
                    }
                    <form action="" method="post" id="form1">
                        <p class="text-muted mb-0 mt-1">Unidades existentes: @cant</p>
                        <div class="input-group mb-3" style="width:200px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Cantidad </span>
                            </div>
                            <input type="number" class="form-control" min="1" id="cantidad" value="1" max="@cant">
                        </div>
                        <button type="submit" class="btn btn-primary">Comprar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs mt-4" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#descripcion">Descripción</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#especificaciones">Especificaciones</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content rounded-bottom border-left border-bottom border-right "  style="/*background-color: rgba(224, 225, 226, 0.23137254901960785) !important;*/ background-color:white; padding-bottom: 1em; ">
        <div id="descripcion" class="container tab-pane active">
            <br>
            <h6>DESCRIPCIÓN</h6>
            <p>@Html.DisplayFor(model => model.descripcion)</p>
        </div>
        <div id="especificaciones" class="container tab-pane fade">
            <br>
            <h6>ESPECIFICACIONES</h6>
            <table class="table table-striped table-hover mt-3" style="background-color:white;">
                <tbody>
                    @if(Model.especificaciones.Count() > 0){
                        foreach (var i in Model.especificaciones)
                        {
                        <tr>
                            <th>
                                @i.titulo
                            </th>
                            <td>
                                @i.descripcion
                            </td>
                        </tr>
                        }
                    }
                    else { 
                        <tr>
                            <td class="text-center">
                                No hay especificaciones
                            </td>  
                        </tr>                    
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

